*{
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
}
body {
    background: #f9f9f9;
}

header h1 {
    color: #f2d027; 
    font-weight: 600;
    font-size: 70px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -5%);
    width: 100%;
}

header figure {
    background: url('../img/design1_image1.jpg');
    background-size: cover;
    background-position: top;
    height: 500px;
    margin-top: 100px;
}

.logo {
    background-color: #fff;
    border: 3px solid #A61C28;
    height: 90px;
    margin-left: 50px;
    position: fixed; 
    transform: translateY(-597px);
    width: 100px;
    z-index: 10; 
}

h2 {
    background-color: cadetblue;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    padding: 3px;
    text-align: center;
}

nav {
    background-color: #f9f9f9;
    height: 120px;
    position: fixed;
    text-align:right; 
    transform: translate(0px, -675px);
    width: 100%;
}

nav a{
    color: #808080;
    display: inline-block;
    font-size: 20px;
    margin-right: 1.25rem;
    padding-bottom: 70px;
    text-decoration: none;
    text-transform: lowercase;
    margin-top: 53px;
}

nav a:last-child {
    margin-right: 50px;
}

nav a.activo {
    color: #333333;
    font-weight: bold;
} 

nav a:hover {
    color: #A61C28;
    text-decoration: underline;
}


main {
    padding-left: 50px;
    padding-top: 80px;
    position: relative;
}

main article {
    padding-bottom: 30px;
}

.section-contact p{
   padding-bottom: 20px;
}

main ul{
    list-style: none;
}

main ul li {
    padding-bottom: 20px;
}

main ul li p{
    font-size: 25px;
    margin-left: 30px;
}

main h3 {
    font-family: cursive;
    font-size: 25px;  
}

main p {
    font-size: 20px;
}

.anchor-contact {
    text-decoration: underline black;
}

.img1, .img2{ 
    margin-left: 70%;
    margin-top: -220px;
    position: absolute;
    width: 300px;
}

.img3 {
    margin-left: 70%;
    margin-top: -120px;
    position: absolute;
    width: 300px;
}
