@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}


header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/design1_image1.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content:space-between;
    text-align: center;
    width: 100%;
}

nav {
    display: block;
    height: auto;
    left: 0px;
    padding: 12px;
    position: fixed;
    right: 0px;
    text-align: right;
    top: 0px;
    z-index: 3;
}

nav > a{
    color: #d4e9f3;
    float: right;
    font-size: 15px;
    font-weight: 300;
    margin: 0 8px;
    padding: 10px;
    position: relative;
    text-decoration: none;
}

nav > a::before {
    background: #f2d027;
    bottom: -0.5px;
    content: '';
    height: 5px;
    position: absolute;
    transition: 0.5s;
    width: 0;
}

nav > a:hover::before {
    width: 100%;
}

nav a.activo {
    color: #dfe4ea;
    font-weight: bold;
    text-transform: capitalize;
} 

header h1 {
    align-items: center;
    color: #f2d027; 
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    height: 100%;
    padding: 30px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

header .logo {
    margin-top: 35px;
    display: flex;
    margin-left: 65px;
    width: 130px;
}

header .logo:hover {
    width: 150px;
    margin-top: 20px;
}

main h2.titulo-secundario {
    display: none;
}

main {
    padding: 80px 80px 0 130px;
    margin: auto;
    position: relative;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}

main .articulo-about {
    padding: 20px 0 20px;
}

main .contenedor-principal-contacto p{
    padding-bottom: 20px;
 }
 
main ul{
    list-style: none;
}
 
main ul li {
    padding-bottom: 20px;
}
 
main ul li p.lista-evento{
    font-size: 25px;
    margin-left: 30px;
}
 
main h3 {
    font-size: 25px;  
}
 
main p {
    font-size: 18px;
}
 
main .contenedor-contacto a.anchor-contact {
    text-decoration: underline black;
}
 
main .img1, .img2, .img3{ 
    padding: 20px 0;
    width: 300px;
} 

/* *********Estilos de reglas y Políticas********* */
/* *********************************************** */

main .contenedor-principal-reglas h2{
   font-size: 20px;
   font-weight: 600;
}

main .contenedor-principal-titulos-reglas {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

main .contenedor-reglas {
     padding: 20px; 
}

main .titulo-contenedor-reglas {
    padding-bottom: 15px;
}

main .parrafo-contenedor-reglas {
    text-indent: 40px;
} 

main .contenedor-reglas p {
    line-height: 25px;
}

main .contenedor-listas-regulaciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
}

main .titulo-lista-regulaciones {
    float: left;
}

main .parrafo-lista-regulaciones {
    text-indent: 5px;
}

main .titulo-campos-usados {
    font-size: 20px;
}

main .lista-juegos {
    list-style: circle;
    padding-left: 70px;
}

/* **********Estilos Game Information********** */
/* ******************************************** */

table {
    border-spacing: 15px;
    padding-bottom: 50px;
}

table caption {
    font-size: 25px;
    text-align: start;
}

table .parrafo-tabla {
    padding-top: 20px;
    text-decoration: underline;
}

table thead {
    height: 50px;
}

table thead th:first-child {
    text-transform: uppercase;
}

table thead th {
    padding-top: 30px;
}

table .columnas-tabla {
   width: 140px;
  
}

table th {
    text-align: left;
}

table .contenedor-datos-tabla td:first-child {
    padding-right: 70px;
    text-align: right;
}

.contenedor-parrafos {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 20px;
    margin-bottom: 100px;
}

.parrafo-direccionamiento {
    padding-top: 30px;
}

.contenedor-parrafos .contenedor-contacto {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.contenedor-contacto a{
    text-decoration:  none;
}

/***************************************Estilos de Registration ********************************************/
/***********************************************************************************************************/

main.contenedor-principal-formulario {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 120px 50px;
}

main .contenedor-formulario {
    background: #fff;
    border-radius: 5px;
    max-width: 1000px;
    padding: 25px 30px;
    width: 100%;
}

main h2.titulo-formulario {
    font-size: 25px;
    font-weight: 500;
    padding:10px 0;
    position: relative;
}

main h2.titulo-formulario::before {
    background: linear-gradient(135deg, #ffffff, #fffc00);
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

form fieldset {
    border-color: transparent;
    padding-bottom: 30px;
}

form *::placeholder {
    font-size: 12px;
}

form .contenedor-datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px;
}

form .contenedor-entrada-dato {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form label.titulo-etiqueta {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .contenedor-datos input,
form .contenedor-firma input,
form .contenedor-botones input {
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    outline: none;
    padding-left: 15px;
    transition: all 0.3s ease;
    width: 100%;
}

form .contenedor-datos input:focus, form .contenedor-firma input:focus,
form .contenedor-datos input:valid, form .contenedor-firma input:valid,
form fieldset select {
    border-color: #f2d027;
}

form .contenedor-datos input[required]:invalid,
form .contenedor-firma input[required]:invalid,
form fieldset select {
    border: thin solid #f44336;
}

form .contenedor-datos input:-webkit-autofill, form .contenedor-firma input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

form .contenedor-datos input[type="date" i],
form .contenedor-firma input[type="date" i] {
    font-size: 12px;
}

form .contenedor-generos {
    display: flex;
    padding: 0 0 10px;
}

form fieldset input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    background-clip: content-box;
    border: 2px solid #ccc;
    border-radius: 50%;
}

form fieldset input[type="radio"]:checked, 
form fieldset input[type="checkbox"]:checked {
    border: 2px solid #f2d027;
    background-color: #f2d027;
}

form fieldset input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    background-clip: content-box;
    border: 2px solid #ccc;
}

form .contenedor-generos input {
    margin-left: 3px;
}

form .contenedor-generos label:first-child {
    margin-left: 0;
}

form .contenedor-generos label {
    margin-left: 10px;
}


form .contenedor-educacion {
    align-items: center;
    display: flex;
    padding: 10px 0 0;
}

form .contenedor-educacion label,
form .contenedor-posiciones-juego label,
form .contenedor-talles label {
    margin-right: 15px;
}

form .contenedor-educacion input,
form .contenedor-posiciones-juego input,
form .contenedor-talles input {
    margin-right: 2px;
}

form .contenedor-educacion label.etiqueta-grado {
    font-size: 14px;
    height: 25px;
} 

form fieldset select {
    border-radius: 5px;
    height: 45px;
    width: calc(100% / 2 - 20px);
}

form .contenedor-posiciones-juego {
    display: flex;
}

form  legend {
    padding-bottom: 15px;
}

form h3.titulo-parrafo-formulario {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0 ;
    position: relative;
}

form p.parrafo-formulario {
    font-size: 1rem;
}

form .contenedor-firma {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

form .contenedor-firma label.titulo-etiqueta {
   margin-bottom: 5px;
   margin-top: 10px;
}

form .contenedor-botones {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 70px;
    justify-content: center;

}


form input[type="submit"],
form input[type="reset"] {
    background: #fffc00;
    border: none;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    width: 50%; 
}


